body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url(Day-background-image.webp);
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

#navbar {
    background-color: #333;
    overflow: hidden;
}

#navbar .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

#navbar .logo img {
    height: 50px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar ul li {
    padding: 14px 20px;
}

#navbar ul li a {
    color: rgb(230, 131, 131);
    text-decoration: none;
    display: block;
}

#navbar ul li a:hover {
    background-color: #ddd;
    color: black;
}

#intro {
    padding: 2em;
    text-align: center;
    background-color: #e2e2e2;
}

#activities {
    padding: 2em;
}

.container {
    background-color: white;
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

.section {
    margin-bottom: 2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    margin: 0.5em 0;
    padding: 1em;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 4px;
    cursor: pointer;
}

ul li button:hover {
    background-color: #45a049;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}